body {
  background-color: #045369;
}

.header {
  width: 100%;
  line-height: 30px;
  background-color: white;
  position: fixed;
  z-index: 1;
}

.header p {
  display: inline-block;
  margin-left: 100px;
  font-size: 20px;
  font-weight: bold;
}

.r_header {
  float: right;
  margin: 20px;
  margin-right: 70px;
}

.contents {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  padding-top: 50px;
}

.side {
  display: flex;
  position: fixed;
  width: 800px;
  height: 100%;
}

.side h1 {
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

.inner {
  margin: auto;
  border: 3px solid white;
  border-radius: 10px;
  padding: 60px 20px 20px 20px;
  background-color: #1d7087;
}

.inner > h3 {
  margin-left: 40px;
  font-size: 15px;
  color: white;
}

.slider {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid white;
}

.contentslide {
  max-width: 500px;
  max-height: 500px;
}

.contentsBtn {
  margin: 60px;
  margin-top: 100px;
}

.contentsBtn > button {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  width: 110px;
  font-size: 15px;
  background-color: #1b5160;
  margin-left: 20px;
  margin-right: 20px;
}

.contentsBtn > button:hover {
  background-color: #385fff;
  transition: 0.2s;
  cursor: pointer;
}

.main {
  float: right;
  width: 1100px;
  height: 2080px;
}

.main > .icons {
  margin-top: 70px;
  text-align: center;
}

#icon1, #icon2, #icon3 {
  position: relative;
  z-index: 1;
  margin: 0px 80px;
  margin-top: 30px;
  color: white;
  z-index: 2;
}

#icon3 {
  padding-bottom: 5px;
}

#res {
  position: absolute;
  padding-top: 2px;
  top: 140px;
  margin: 0px 285px;
  width: 120px;
  height: 70px;
  background-color: #9684bf;
  animation: hoani;
  animation-duration: 0.2s;
}

#ho {
  position: absolute;
  padding-top: 2px;
  top: 140px;
  margin: 0px 495px;
  width: 120px;
  height: 70px;
  background-color: #9684bf;
  animation: hoani;
  animation-duration: 0.2s;
}

#lo {
  position: absolute;
  padding-top: 2px;
  top: 140px;
  margin: 0px 700px;
  width: 120px;
  height: 70px;
  background-color: #9684bf;
  animation: hoani;
  animation-duration: 0.2s;
}

.main > hr {
  border: 1px solid white;
  width:2500px;
  margin-left:0px;
}

@keyframes hoani {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image_Collection li {
  max-width: 30%;
  margin: 10px;
  list-style: none;
  background-color: none;
  display: inline-flex;
}